.alert-danger,
.alert-success{
    display: none;
}

#container-parent {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    border: solid 1px #ccc;
    margin: 10px auto;
    padding: 20px 30px;
    box-shadow: 0 0 4px #ccc;
    background-color: #FAF8F8;
}

.form-group{
    margin-bottom: 7px;
}

#btn_reset{
    height: 45px;
}

#btn_reset:disabled{
    cursor: wait;
}

.input-group-addon{
    background-color: lightgray;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-group-addon:hover{
    cursor: pointer;
}

.input-group-addon i:hover{
    color: #2b67a7;
    transition: all 200ms ease-in-out;
}