#alert-danger-password,
#alert-success-password{
    display: none;
}

#btn_change_password:disabled{
    cursor: wait;
}

.input-group-addon{
    background-color: lightgray;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-group-addon:hover{
    cursor: pointer;
}

.input-group-addon i:hover{
    color: #2b67a7;
    transition: all 200ms ease-in-out;
}